
<footer class="bg-success text-white text-center p-4">
    <div>
        <p>Create by @jery</p>
        <a href="https://facebook.com" target="_blank" class="text-white mx-2">
            <i class="bi bi-facebook"></i> Facebook
        </a>
        <a href="https://wa.me/your_whatsapp_number" target="_blank" class="text-white mx-2">
            <i class="bi bi-whatsapp"></i> WhatsApp
        </a>
        <a href="https://instagram.com" target="_blank" class="text-white mx-2">
            <i class="bi bi-instagram"></i> Instagram
        </a>
        <a href="https://github.com" target="_blank" class="text-white mx-2">
            <i class="bi bi-github"></i> GitHub
        </a>
    </div>
    <div class="mt-3">
        <a href="/home" class="btn btn-primary mx-1">Home</a>
        <a href="/addproduct" class="btn btn-secondary mx-1">Add Product</a>
    </div>
</footer>
